<html>
<header>
    <title>Hello</title>

    <link rel="stylesheet" href="https://localhost:8080/ui/css/app.css">
    <link rel="stylesheet" href="https://localhost:8080/ui/css/bootstrap.min.css">
    <script type="text/javascript" src="https://localhost:8080/ui/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="https://localhost:8080/ui/scripts/bootstrap.min.js"></script>
</header>

<body>

    <div class="container">
        {{if .Error }}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> {{ .Error }}
        </div>
        {{end}}
        {{if .Username}}
        <div class="alert alert-info" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            If this is your first session you might have to visit <a href="{{.URL}}">{{.URL}}</a> in a new tab and accept the SSL certificate.
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Laboratory environment</h3>
            </div>
            <div class="panel-body">
                <div>
                    <p>
                        Use the credentials listed below to login to your ssh terminal.
                        <span style="padding-left:5px;"><strong>Username:</strong> {{ .Username }} </span>
                        <span style="padding-left:5px;"><strong>Password:</strong> {{ .Password }} </span>
                    </p>
                </div>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="{{ .URL }}"></iframe>
                </div>
            </div>
        </div>
        <div class="alert alert-info" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            If this is your first session you might have to visit {{.URL}} in a new tab and accept the SSL certificate.
        </div>
        <div>
            <p>Terminate container: <button type="button" class="btn btn-sm btn-danger" onclick="">Terminate</button>
        </div>
        {{end}}
    </div>

</body>

</html>
